{% include 'include/header.html' %}

<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Send Messages</h3>
		</div>
		<div class="page-breadcumb">

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
			    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('messages') }}">Messages</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Send Messages</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="content-body">

		<section  class="chart">
			<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-envelope"></i> 	  	 Send Message
						</div>
						<div>
							
						</div>
				</div>
				<div class="panel-body">
					{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category, message in messages %}
										<div class="alert alert-{{ category }}" role="alert">
											{{message}}
										</div>
									{% endfor %}
								{% endif %}
							{% endwith %}
					<div class="form">
						<form method="POST" action="">
							<div class="form-group">
								<label>Choose type :</label>
								<div class="check-group">
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="type" id="target1" value="single" checked>
									  <label class="form-check-label">
									    Single target
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="type" id="target2" value="all" >
									  <label class="form-check-label" >
									    All Contacts
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="type" id="target3" value="groups" >
									  <label class="form-check-label">
									    All Groups
									  </label>
									</div>
									<div class="form-check">
									  <input class="form-check-input" type="radio" name="type" id="target4" value="cgroups" >
									  <label class="form-check-label">
									    Contacts Group
									  </label>
									</div>
								</div>
							</div>
							<div class="form-group" id="single-only">
								<label>Target</label>
								<input type="number" name="target" class="form-control" placeholder="628134..">
							</div>
							<div class="form-group" id="cgroups_only">
								<label>Choose contact's group</label>
								<div class="card list-contact" style="width: 100%" >
								  <ul class="list-group list-group-flush ">
								  	{% for list in data %}
								  		<div class="form-check">
										  <input class="form-check-input" type="checkbox" name="cgroups" value="{{ list.group_name }}" id="group{{ loop.index }}">
										  <label class="form-check-label" for="group{{ loop.index }}">
										   	{{list.group_name}}
										  </label>
										</div>
									{% endfor %}
								  </ul>
								</div>
							</div>					
							<div class="form-group">
								<label>Message </label>
								<textarea class="form-control" name="msg" placeholder="Your message.."></textarea>
							</div>
							<div class="form-group" style="overflow: hidden;">
								<button type="button" class="btn btn-primary float-right"  name="send"  data-toggle="modal" data-target="#modalSender">Next</button>
								<div class="modal fade" id="modalSender" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="exampleModalLabel">Choose sender</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
								          <div class="form-group">
								          	<label>Choose type :</label>
								          	<div class="check-group">
												<div class="form-check">
												  <input class="form-check-input" type="radio" name="sender"  value="choose" checked>
												  <label class="form-check-label">
												    Choose one
												  </label>
												</div>
												<div class="form-check">
												  <input class="form-check-input" type="radio" name="sender" id="randomSender" value="randomSender" >
												  <label class="form-check-label">
												    Random sender
												  </label>
												</div>
												<div class="form-check">
												  <input class="form-check-input" type="radio" name="sender" id="chooseSender" value="chooseSender" >
												  <label class="form-check-label" >
												    Choose sender
												  </label>
												</div>
											</div>
								          </div>
								          <div class="form-group" id="randomSenderOnly">
								          	<label>Number of senders :</label>
								          	<input type="number" class="form-control" name="number_of_senders" placeholder="Minimum 1">
								          </div>
								          <div class="form-group" id='chooseSenderOnly'>
								          	<label>Choose sender :</label>
								          	<div class="card list-contact" style="width: 100%" >
											  <ul class="list-group list-group-flush ">
											  	{% if sender is none %}
											  		<p class="text-center text-muted">No senders.</p>
												{% else %}
												  	{% for sender in senders %}
												  		<div class="form-check">
														  <input class="form-check-input" type="checkbox" name="senders" value="{{ sender.phone }}" id="group{{ loop.index }}">
														  <label class="form-check-label" for="group{{ loop.index }}">
														   	{{sender.sender_name}}<span class="text-muted"> ({{sender.phone}})</span>
														  </label>
														</div>
													{% endfor %}
												{% endif %}
											  </ul>
											</div>
								          </div>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								        <button type="submit" class="btn btn-primary">Send!</button>
								      </div>
								    </div>
								  </div>
								</div>
							</div>
						</form>
					</div>
					
				</div>
			</div>
		</section>
	</div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->


{% include 'include/footer.html' %}