{% include 'include/header.html' %}

<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Messages</h3>
		</div>
		<div class="page-breadcumb">

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Messages</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="content-body">

		<section  class="chart">
			<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-envelope"></i> 	  	 Messages
						</div>
						<div>
							<a href="{{ url_for('messages') }}/add" class="btn btn-primary" ><i class="fa fa-plus"></i></a>
						</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category, message in messages %}
										<div class="alert alert-{{ category }}" role="alert">
											{{message}}
										</div>
									{% endfor %}
								{% endif %}
							{% endwith %}

						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Sender</th>
									<th>Receiver</th>
									<th>Date</th>
									<th>Time</th>
									<th>Action</th>

								</tr>
							</thead>
							<tbody>
								{% for message in messages %}
								<tr>
									<td>{{ message.id }}</td>
									<td>{{ message.sender }}</td>
									<td>{{ message.receiver }}</td>
									<td>{{ message.date }}</td>
									<td>{{ message.time }}</td>
									<td>
											<a href="?delete={{ message.id }}" class="btn btn-danger" style="margin-bottom: 10px;">
												<i class="fa fa-trash"></i> Hapus
											</a>
										</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{% include 'include/footer.html' %}