{% include 'include/header.html' %}

<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Add Contacts</h3>
		</div>
		<div class="page-breadcumb">

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
			    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('contacts') }}">Contacts</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Add Contacts</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="content-body">

		<section  class="chart">
			<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-users"></i> 	  	 Add Contacts
						</div>
						<div>
							
						</div>
				</div>
				<div class="panel-body">
					{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category, message in messages %}
										<div class="alert alert-{{ category }}" role="alert">
											{{message}}
										</div>
									{% endfor %}
								{% endif %}
							{% endwith %}
					<div class="form">
						<form method="POST" action="">
							<div class="form-group">
								<label>Fullname</label>
								<input type="text" name="name" class="form-control" placeholder="Contact's fullname">
							</div>
							<div class="form-group">
								<label>Phone Number</label>
								<input type="number" name="phone" class="form-control" placeholder="Contact's number">
							</div>
							<div class="form-group" style="overflow:hidden;">
								<input type="submit" value="Add" class="btn btn-primary float-right" name="">
							</div>

						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose One</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-6">
        		<div class="btn-contacts">

        			<a href="{{url_for('contacts')}}/add" class="btn btn-outline-primary">
        				<i class="fa fa-plus"></i>
        				<span>
        					Add Manual
        				</span>
        			</a>
        		</div>
        	</div>
        	<div class="col-md-6">
        		<div class="btn-contacts">
        			<a href="#" class="btn btn-outline-info" id="upload_csv">
        				<i class="fa fa-download"></i>
        				
        				<span>
        					Import From CSV
        				</span>
        			</a>
        		</div>
        	</div>
        </div>
      </div>
      
    </div>
  </div>
</div>

{% include 'include/footer.html' %}