{% include 'include/header.html' %}

<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Contacts</h3>
		</div>
		<div class="page-breadcumb">

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Contacts</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="content-body">

		<section  class="chart">
			<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-users"></i> 	  	 Contacts
						</div>
						<div>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus"></i></button>
						</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category, message in messages %}
										<div class="alert alert-{{ category }}" role="alert">
											{{message}}
										</div>
									{% endfor %}
								{% endif %}
							{% endwith %}


						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Phone Number</th>
									<th>Date added</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
							{% for contact in contacts %}
								<tr>
									<td>{{ contact.id }}</td>
									<td>{{ contact.name }}</td>
									<td>{{ contact.phone }}</td>
									<td>{{ contact.date_added }}</td>
									<td>
										<a href="?delete={{ contact.id }}" class="btn btn-danger" style="margin-bottom: 10px;" onclick="return confirm('Are you sure want to delete {{ contact.phone }}?')">
											<i class="fa fa-trash"></i> Hapus
										</a>
									</td>
								</tr>
							{% endfor%}
								<?php } ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose One</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-6">
        		<div class="btn-contacts">

        			<a href="{{ url_for('contacts') }}/add" class="btn btn-outline-primary">
        				<i class="fa fa-plus"></i>
        				<span>
        					Add Manual
        				</span>
        			</a>
        		</div>
        	</div>
        	<div class="col-md-6">
        		<div class="btn-contacts">
        			<a href="#" class="btn btn-outline-info" id="upload_csv">
        				<i class="fa fa-download"></i>
        				
        				<span>
        					Import From CSV
        				</span>
        			</a>
        		</div>
        	</div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<form class="form-hidden" method="POST" action="" enctype="multipart/form-data">
	<input type="file" name="contacts" id="upload-csv">
	<input type="submit" name="upload" id="upload-file">
</form>
{% include 'include/footer.html' %}