{% include 'include/header.html' %}

<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Send Messages</h3>
		</div>
		<div class="page-breadcumb">

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
			    <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('sender') }}">Senders</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Add Sender</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="content-body">

		<section  class="chart">
			<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-envelope"></i> 	  	 Add Sender
						</div>
						<div>

						</div>
				</div>
				<div class="panel-body">
					<div class="form">
						<form method="POST" action="">
							<div class="form-group" id="single-only">
								<label>Sender name</label>
								<input type="text" name="name" class="form-control" >
							</div>
							<div class="form-group">
								<label>Phone number</label>
                                <input type="number" class="form-control" name="phone">
							</div>
							<div class="form-group" style="overflow: hidden;">
								<input type="submit" class="btn btn-primary float-right" value="Add" name="add">
							</div>
						</form>
					</div>

				</div>
			</div>
		</section>
	</div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose One</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-6">
        		<div class="btn-contacts">

        			<a href="{{url_for('contacts')}}/add" class="btn btn-outline-primary">
        				<i class="fa fa-plus"></i>
        				<span>
        					Add Manual
        				</span>
        			</a>
        		</div>
        	</div>
        	<div class="col-md-6">
        		<div class="btn-contacts">
        			<a href="#" class="btn btn-outline-info" id="upload_csv">
        				<i class="fa fa-download"></i>

        				<span>
        					Import From CSV
        				</span>
        			</a>
        		</div>
        	</div>
        </div>
      </div>

    </div>
  </div>
</div>

{% include 'include/footer.html' %}