{% include 'include/header.html' %}

<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Joined Groups</h3>
		</div>
		<div class="page-breadcumb">

			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item"><a href="">Groups</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Joined Groups</li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="content-body">

		<section  class="chart">
			<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-users"></i> 	  	 Groups
						</div>
						<div>
							<!--<a class="btn btn-primary" href="{{ url_for('groups') }}/add"><i class="fa fa-plus"></i></a>-->
							<div class="btn-group">
							  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Menu
							  </button>
							  <div class="dropdown-menu dropdown-menu-right">
								  <a href="#" data-toggle="modal" data-target="#exampleModal" class="dropdown-item" >Add group</a>
								  <a href="#" data-toggle='modal' data-target="#modalImport" class="dropdown-item" type="button">Import your groups</a>
								  <a href="{{url_for('messages')}}/add" class="dropdown-item" type="button">Send message to all group</a>
					
							  </div>
							</div>
						</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
									{% for category, message in messages %}
										<div class="alert alert-{{ category }}" role="alert">
											{{message}}
										</div>
									{% endfor %}
								{% endif %}
							{% endwith %}

						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-hover ">
							<thead>
								<tr>
									<th>#</th>
									<th>Group Name</th>
									<th>Date added</th>
									<th>Sender</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
							{% for group in data %}
								
								<tr>
									<td>{{ group.id }}</td>
									<td>{{ group.group_name }}</td>
									<td>{{ group.date_added }}</td>
									<td>{{ group.sender.sender_name }}</td>
									<td>
											<a href="?delete={{ group.id }}" class="btn btn-danger" style="margin-bottom: 10px;">
												<i class="fa fa-trash"></i>
											</a>
										</td>
								</tr>
							{% endfor %}
								<?php } ?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add joined group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="">
	      <div class="modal-body">
	        
		        	<div class="form-group">
		        		<label>Group name : </label>
		        		<input type="text" class="form-control" name="name">
		        	</div>
		        	<div class="form-group">
	        			<label>Sender account you want to import</label>
	        			<select name="senders" class="form-control">
	        				<option value="">Choose one</option>
	        				{% for sender in senders %}
	        					<option value="{{ sender.id }}">{{ sender.sender_name }} ({{sender.phone}})</option>
	        				{% endfor %}
	        			</select>
	        		</div>
	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save</button>
	      </div>
		</form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import your group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="POST" action="{{ url_for('groups') }}/joined_groups/import">
	      <div class="modal-body">
	        <div class="form">
	        		<div class="form-group">
	        			<label>Sender account you want to import</label>
	        			<select name="senders" class="form-control">
	        				<option value="">Choose one</option>
	        				{% for sender in senders %}
	        					<option value="{{ sender.id }}">{{ sender.sender_name }} ({{sender.phone}})</option>
	        				{% endfor %}
	        			</select>
	        		</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
       </form>
    </div>
  </div>
</div>
{% include 'include/footer.html' %}